<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Factory</title>
  </head>
  <body>
    <h1>TP-3-Skill Factory NodeJS - Factory Movie</h1>
    <h2>Tp-3 info</h2>
    <h3>
      Proyecto Final de una tienda de alquiler de peliculas offline, con
      autenticacion/autorizacion y CRUD. Confirmacion de Cuenta de usuario por
      email.
    </h3>
  </body>
</html>
